*{
    margin: 0;
    padding: 0;
}
header{
    background-color: lightblue;
}

aside{
    background-color: lightgray;
}

main{
    background-color: lightcyan;
}
footer{
    background-color: lightpink;
}